@import '../../styles/variables.scss';

.home-view {
  &__main-image-container {
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url(../../assets/images/pope_francis.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: calc(100vw * 0.6);
  }

  &__main-image-info-container {
    height: 100%;
  }

  &__main-info-card-container {
    position: absolute;
    top: 22%;
    width: 45%;
    height: 75%;
    padding-left: $general_padding_left;
  }

  &__main-image{
    width: 100%;
  }

  &__information-card {
    height: 100%;
  }

  &__votations_closed {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.3vw;

    &__container {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    &__arrow {
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid black;
      opacity: 0.2;
      margin: auto 0;
    }

    &__indicator {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5px;
      background-color: black;
      opacity: 0.2;

      p{
        font-size: 1vw;
        color: white;
      }
    }

    &__indicator-rest {
      position: relative;
      padding-right: 5px;
      margin-left: -9px;
      background-color: white;
      z-index: -4;
      opacity: 0.5;
    }

    &__indicator-rest-text{
      position: absolute;
      font-size: 3vw;
      height: 100%;
      margin: 3px 0;
    }
  }

  &__main-content {
    padding-left: $general_padding_left;
    padding-right: $general_padding_right;
    padding-top: calc(100vw * 0.53);
    height: 600px;
  }
}